body {
	background-image: url("blankbeer.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: white;
    background-position: center; 
    background-color: black;
}

h2 {
	margin-bottom: 20px;
}